.addTaskForm {
    padding: 40px;
}

.addNoteSubmit {
    margin: 40px;
    font-size: 24px;
    background-color: rgb(192, 81, 81);
    margin-bottom: 20px;
}

.addNoteSubmit:hover {
    background-color: rgb(139, 36, 36);
}

.addNoteSubmit:active {
    background-color: rgb(138, 32, 32);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.addNoteBannerBackground {
    background: url(../../images/pancake2.jpg) no-repeat, center;
    background-size: cover;
    opacity: 0.8;
    height: 400px;
    max-width: 100%;
}

.taskBanner {
    display: flex;
    text-shadow: 8px 8px 8px #000000;
    justify-content: center;
    margin-top: 150px;
    font-size: 54px;
    font-weight: bolder;
    font-family: 'Dancing Script';
    padding: 10px;
    opacity: 100%;
    color: white;
    text-transform: none;
}

.taskTitleInput {
    margin-top: 20px;
}

.titleLabel {
    font-weight: bold;
    font-size: 20px;
}

.AddNote {
    height: calc(100% - 130px);
}