.noteItem {
    display: flex;
    font-size: 14px;
    margin: 0;
    justify-content: center;
    padding: 0px;
    box-shadow: 5px 5px 8px #888888;
}

.notesContainer {
    display: flex;
    flex-direction: column;
}