* {
    box-sizing: border-box;
    margin: 0;
}

h2 {
    font-size: bold;
    text-transform: uppercase;
    font-size: 26px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

section {
    min-height: 200px;
    padding: 15px;
    background-color: rgb(224, 194, 129);
}

section:nth-child(even) {
    background-color: rgb(245, 229, 177);
}

p {
    margin: 0 auto;
    max-width: 650px;
    margin-bottom: 40px;
    line-height: 1.7;
}

p+p {
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    background-color: rgb(192, 81, 81);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

.bannerBackground {
    background: url(../../images//happydogBanner.png) no-repeat center;
    background-size: cover;
    opacity: 0.85;
    height: 400px;
    max-width: 100%;
}



