* {
    box-sizing: border-box;
}

header {
    /* padding: 10px 10px; */
}

h3 {
    font-size: bold;
    text-transform: uppercase;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

section {
    min-height: 200px;
    padding: 20px 15px;
    background-color: rgb(224, 194, 129);
}

section:nth-child(even) {
    background-color: rgb(245, 229, 177);
}

p {
    margin: 0 auto;
    max-width: 650px;
}

p+p {
    margin-top: 15px;
}

button {
    background-color: rgb(218, 137, 137);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}


