.notesList {
    font-size: 25px;
}

.homeBannerBackground {
    background: url(../../images/happydogHome.jpg) no-repeat, center;
    background-size: cover;
    opacity: 0.8;
    height: 400px;
    max-width: 100%;
}

.welcomeBanner {
    display: flex;
    text-shadow: 4px 4px 20px #000000;
    justify-content: center;
    margin-top: 150px;
    font-size: 54px;
    font-weight: bolder;
    font-family: 'Dancing Script';
    padding: 10px;
    opacity: 100%;
    color: white;
    text-transform: none;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addNotesFolder {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(90, 192, 81);
    cursor: pointer;
}


.addNotesFolder:hover {
    background-color: rgb(18, 92, 30);
}

.addNotesFolder:active {
    background-color: rgb(156, 42, 42);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.checklist-container {
    display: flex;
    background-color: rgb(224, 194, 129);
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}


