.tasksBanner {
    background: url(../../images/corgibanner.jpg) no-repeat, center;
    background-size: cover;
    opacity: 0.8;
    height: 400px;
    max-width: 100%;
}

.taskHeader {
    display: flex;
    text-shadow: 4px 4px 20px #000000;
    justify-content: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Dancing Script';
    padding: 10px;
    opacity: 100%;
    color: white;
}


.commentDelete {
    border: 1px solid grey;
    background-color: crimson;
    border-radius: 80%;
    padding: 4px 8px;
    margin-left: 15px;
    cursor: pointer;
}

.commentDelete:hover {
    background-color: rgb(131, 39, 39);
}

.commentDelete:active {
    background-color: rgb(131, 39, 39);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


#commentsForm {
    padding-bottom: 20px;
    font-weight: bold;
    margin: 25px;
}

#commentContent {
    margin-left: 5px;
}

.commentsInput {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    line-height: 1.2;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 16px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.taskHeader {
    font-size: 50px;
}

.dueDate, #commentContent {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
}

.due {
    color: rgb(202, 55, 85);
    margin-right: 5px;
}

.taskList {
    margin-bottom: 25px;
}


.addTaskButton {
    margin-top: 25px;
    border: 2px solid grey;
    background-color: rgba(61, 170, 76, 0.795);
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.addTaskButton:hover {
    background-color: rgb(31, 114, 42);
}

.addTaskButton:active {
    background-color: rgba(79, 184, 93, 0.795);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.deleteNote {
    border: 2px solid grey;
    background-color: rgb(202, 55, 85);
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.deleteNote:hover {
    background-color: rgb(179, 24, 55);
}

.deleteNote:active {
    background-color: rgba(79, 184, 93, 0.795);
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.fa-folder-minus {
    margin-left: 5px;
}

.fa-tasks {
    margin-left: 5px;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  #dueDate {
    border: 1px solid #c4c4c4;
    line-height: 1.5;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 16px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 140px;
    margin-bottom: 15px;
  }



@media only screen and (min-width: 377px) {
    .dueDate, #commentContent {
        font-size: 18px;
        font-weight: bold;
    }
}