.commentDelete {
    border: 1px solid grey;
    background-color: crimson;
    /* font-size: 0.9em; */
    border-radius: 50%;
    padding: 5px;
    /* font-weight: bold; */
    margin-left: 5px;
}

#commentsForm {
    padding-bottom: 20px;
    font-weight: bold;
    margin: 25px;
}

#commentContent {
    margin-left: 5px;
}

.commentsInput {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    line-height: 1.2;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 16px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}

.taskHeader {
    font-size: 50px;
}

.dueDate, #commentContent {
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
}

.taskList {
    margin-bottom: 10px;
    font-size: 18px;
}

.commentDelete {
    margin-left: 15px;
}

.addButton {
    border: 1px solid grey;
    background-color: green;
    font-size: 1em;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
    margin: 10px;
}

.deleteNote {
    border: 1px solid grey;
    background-color: crimson;
    font-size: 1em;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
    margin: 10px;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  #dueDate {
    border: 1px solid #c4c4c4;
    line-height: 1.5;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px 5px;
    font-size: 16px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }