.commentDelete {
    border: 1px solid grey;
    background-color: crimson;
    /* font-size: 0.9em; */
    border-radius: 50%;
    padding: 5px;
    /* font-weight: bold; */
    margin-left: 5px;
}


.deleteNote {
    border: 1px solid grey;
    background-color: crimson;
    font-size: 1.1em;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
    margin-left: 20px;
}

#commentsForm {
    padding-bottom: 20px;
    font-weight: bold;
    margin: 25px;
}

#commentContent {
    margin-left: 5px;
}

.commentsInput {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.dueDate {
    margin-bottom: 15px;
    margin-left: 10px;
}

.taskList {
    margin-bottom: 10px;
    font-size: 18px;
}

.commentDelete {
    margin-left: 15px;
}

.addButton {
    border: 1px solid grey;
    background-color: green;
    font-size: 1.1em;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
    margin-left: 10px;
}

.backButton {
    border: 1px solid grey;
    background-color: gray;
    font-size: 1.1em;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: bold;
    margin-left: 10px;
}
