.Header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: rgb(192, 81, 81);
}

.Header h1 {
    margin: 10px;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
}

.Header a {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.Header_not-logged-in, .Header_logged-in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
}

@media only screen and (min-width: 377px) {
    .Header {
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: none;
        padding: 17px;
        height: 165px;
    }
}




@media only screen and (min-width: 480px) {
    .Header {
        height: 130px;
        align-items: normal;
        justify-content: space-between;
    }
    
    .Header h1 {
        margin: 5px;
    }
    
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 42px;
    }
    
    .Header a {
        color: white;
        text-decoration: none;
        margin: 10px;
    }
    
    .Header_not-logged-in, .Header_logged-in {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .Header_not-logged-in, .Header_logged-in {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        margin-right: 10px;
    }
}

