.Header {
    display: flex;
    height: 80px;
    align-items: normal;
    justify-content: space-between;
    background-color: rgb(218, 137, 137);
}

.Header h1 {
    margin: 5px 20px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.Header a {
    color: white;
    text-decoration: none;
    margin: 5px 20px;
}

.Header_not-logged-in {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}
